.banner {
    padding-top: 120px;
    background-color: $bannerColor;
    
    &__container {  
        width: 1000px;
        overflow: hidden;     
        position: relative;   
        margin-top: 20px;
       
        background-image: linear-gradient(to top,#d05332,#d15332);
        &:hover {
        cursor: pointer;
       }
    }
    .content {  
        color: #fff;
        font-family: 'lato';
        font-weight: 700;
        width: 36%;
        padding-top: 91px;  
        padding-left: 61px; 
        padding-bottom: 109px;
        line-height: 1.2;
    }
    .coffee {
        position: absolute;
        top: 3px;
        right: 364px;
        height: 93%;
    }
    .messenger {
        position: absolute;
        top: -22px;
        right: -216px;
        width: 66%;
    }     
}
.slick-dots {
    display: flex;
    justify-content: center;
    gap:  0 17px;
    padding-bottom: 14px;
    padding-top: 6px;
    button {
        font-size: 0;
        width: 14px;
        height: 14px;
        border-radius: 100rem;
        background-color: #71a3a7;    
    }
}

.slick-active button {
    background-color: #fff;
}


@media screen and (max-width: 1023.98px) {
    .banner {
        padding-top: 90px;
        .content {
            padding: 455px 60px 41px 60px;
            width: 100%;
        }
        .coffee {
            right: 440px;
        }
    }
    .slick-dots {
        gap: 0 18px;
    }
}
@media screen and (max-width: 767.98px) {
    .banner{
        .messenger {
            display: none;
        }
        .coffee {
            right: 89px;
            width: 50%;
        }
        .content {
            font-size: 27px;
            padding: 363px 22px 41px 22px
        
        }
    }
    .slick-dots {
        gap: 0 12px;
    }
}


