.company{ 
    padding-top: 20px;
    padding-bottom: 40px;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        width: 46%;    
    }
    &__title {
        display: flex;
        gap: 0 15px;
        padding-bottom: 12px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: calc(24/14);
        color: #363636;
        padding-bottom: 28px;
    }
    span {
        font-style: italic;
        font-size: 14px;
        font-weight: 700;
        line-height: calc(24/14);
        color: #363636;
    }
    &__logo {
        display: flex;
        flex-direction: column;
        .list-logo {   
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;          
            .img {
                margin: auto;
            }
        }
    }  
}
@media screen and (max-width: 1023.98px) {
    .company__container {
        gap: 0 60px;
    }
}

@media screen and (max-width: 767.98px) {
    .company {
        &__container {
            flex-direction: column-reverse;
            gap: 40px 0;
        }
        &__content {
            width: 100%;
        }
    }
}

