.footer {
    padding-top: 28px;
    background-color: #e8ebf1;
    &__begin {
        gap: 0 65px;
        display: grid;
        grid-template-columns: 235px 73px 115px 140px 176px;
    }
    &__content{
        p {
            font-size: 14px;
            font-weight: 400;
            color: $grayColor;
            line-height: 1.2;
        }
        .open {
            padding-bottom: 18px;
        }
    }
    &__content:nth-child(1) {
        h2 {
            padding-bottom: 20px;
        }
    }
    &__content:nth-child(2){
       
        h2 {
            padding-bottom: 3px;
        }
        p {
            line-height: calc(26/14);
        }
    }
    &__content:nth-child(3){
        padding-left: 10px;
       
        h2 {
            padding-bottom: 3px;
        }
        p {
            line-height: calc(26/14);
        }
    }
    &__content:nth-child(4){
        h2 {
            padding-bottom: 17px;
        }
        strong {
            font-size: 14px;
            font-weight: 700;
            color: $grayColor;
        }     
    }
    &__content:last-child {
        margin-left: -5px;
    }
    &-list {
        margin-left: -7px;
        padding-top: 15px;
        gap: 9px 20px;
        display: grid;
        grid-template-columns: 50px 50px 50px;
        grid-template-rows: 1fr 1fr;
        img {
            width: 100%;
        }
    }
    &__end {
        padding-top: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }
    &-left {
        p {
            font-size: 13px;
            font-weight: 400;
            color: $grayColor;
            line-height: calc(18/13);
        }
        span {
            font-size: 14px;
            color: $grayColor;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 1023.98px) {
    .footer {
        &__begin {
            gap: 0 12px;
            grid-template-columns: 209px 60px 115px 136px 176px;
        }
    }
}
@media screen and (max-width: 767.98px) {
    .footer {
        &__begin {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "aa aa bb"
            "cc cc dd"
            "ee ee ee";
            .content1 {
                grid-area: aa;
            }
            .content2 {
                grid-area: bb;
            }
            .content3 {
                grid-area: cc;
            }
            .content4 {
                grid-area: dd;
            }
            .content5 {
                grid-area: ee;
            }
            gap: 20px;
          
        }
        &-list img {
            width: 80%;
            display: flex;
            margin: auto;
        }

        &__content:nth-child(1) h2 {
            padding-bottom: 15px;
        }   
        &__content:nth-child(3){
            padding-left: 0;
        }
    }
}


