.menu {  
    padding-top: 11px;   
    display: flex;
    padding-right: 15px;
    text-transform: uppercase;
    a {
        line-height: calc(20/13);
        font-size: 13px;
        color: $textClolor;
        font-weight: 700;
        padding: 10px 3px;
        img {
            margin-left: 10px;
            margin-bottom: 2px;
        }
        &:hover {         
            color: #2aacc8;
            background-color: #fff;
            border-top: 5px solid #2aacc8;
            border-bottom: 5px solid #2aacc8;
            img {
                color: #000;
            }
        }   
    }
    &>li:hover > a {
        border-top: 5px solid #2aacc8;
        background-color: #fff;
        color:#2aacc8 ;
        img {
            color: #000;
        }
    }
    li:last-child {
        padding-left: 44px;
    }
    li:nth-child(5) {
        padding-left: 28px;
    }
    li:nth-child(4) {
        padding-left: 28px;
    }
    li:nth-child(3) {
        padding-left: 44px;
    }
    li:nth-child(2) {
        padding-left: 44px;
    }
    li {
        position: relative;
        &:hover .subnav {
            display: block;
        }
    }
    .subnav {
        padding-top: 10px;
        text-transform: capitalize;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 200px;
        font-size: 13px;
        font-weight: 400;
        border-bottom: 5px solid #2aacc8;
        display: none;
        a {
            display: block;
            line-height: calc(36/13);
            border-bottom: 1px solid #e7e7e7;
            margin: 0 12px;
            padding: 0;
        }
        a:hover {
            border-top: none;
        }
    }
}
.menu__toggle {
    padding: 20px;
    display: none;
    z-index: 20;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
}
.menu__toggle::before {
    content: "";
    width: 28px;
    height: 3px;
    background-color: #000;
    position: absolute;
    transform: translateY(-6px);
    transition: all 0.2s linear;
}
.menu__toggle::after {
    content: "";
    width: 28px;
    height: 3px;
    background-color: #000;
    position: absolute;
    transform: translateY(6px);
    transition: all 0.2s linear;
}
.menu__toggle.open::before {
    transform: rotate(45deg);
    transition: all 0.2s linear;
}
.menu__toggle.open::after {
    transform: rotate(-45deg);
    transition: all 0.2s linear;
}

@media screen and (max-width: 1023.98px) {
    .menu {
        padding-left: 10px;
        position: fixed;
        right: 0;
        top: 8px;
        bottom: 0;
        padding-top: 80px;
        flex-direction: column;
        gap: 33px 0;
        width: 33%;
        height: 400px;
        background-color: #e8ebf1;
        border-bottom-left-radius: 10px;    
        transform: translateX(100%);
        transition: all 0.2s linear;
        &.show {
            transform: translateX(0);
        }
        a {
            padding: 10px 13px;
        }
        .subnav {
            top: -64%;
            left: -194px;
            border-top: 5px solid #2aacc8;
        }
    }
    .menu__toggle{
        display: flex;
    }
}


