.section { 
    .container {
        display: flex;
        gap: 0 44px;
        padding-bottom: 50px;
        padding-top: 6px;
        padding-left: 22px;
    }
    background-color: #e8ebf1;
    &__container {
        padding-top: 62px;
        width: 22%;
        display: flex;
        flex-direction: column;
    }
    &__title {    
        padding-left: 2px;  
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding-bottom: 21px;
        .img {
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: center;      
            position: relative;    
            &::before {
                border-radius: 100%;
                content: '';
                background-color: #2aacc8;
                position: absolute;
                width: 40px;
                height: 40px;
                z-index: -1;              
            }
        }      
        h2 {
            font-weight: 700;
        }
       
    }
    &__container:first-child {
        h2 {
            margin-top: -6px;
            padding-left: 28px;
        }
        p {
            padding-top: 2px;
            margin-left: -6px;
        }
    }
    &__container:last-child {
        h2 {
            margin-top: -6px;
            padding-left: 27px;
        }
    }
    &__container:nth-child(2) {
        .section__title {
            padding-top: 3px;
            padding-left: 3px;
            padding-bottom: 28px;
        }
        h2 {
            margin-top: -5px;
            padding-left: 29px;
        }
        p {
            margin-left: -6px;
        }
    }
    &__container:nth-child(3) {
        .section__title {
            padding-top: 2px;
            padding-left: 6px;
            img {
                padding-top: 3px;
            }
        }
        h2 {
            margin-top: -3px;
            padding-left: 32px;
        }
        p {
            padding-top: 5px;
             margin-left: -2px;

        }
    }
    &__content {
        font-size: 13px;
        font-weight: 400;
        line-height: calc(20/13);
        padding-bottom: 18px;
        p {
            color: #363636;
        }
        
    }
    &__btn {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 0 14px;
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
        margin-left: -6px;
        p {
            color: #2aacc8;
        }
    }
}
@media screen and (max-width: 1023.98px) {
    .section {
        .container {        
            gap: 0 30px;
        }
        &__container:nth-child(1){
            padding-top: 49px;        
            .section__title {
              padding-bottom: 26px;
                .img {
                    margin-top: 21px;
                }
            }
        }       
    }
}

@media screen and (max-width: 767.98px) {
    .section {
        padding-bottom: 40px;
        .container {
            flex-direction: column;
            padding: 0 20px;
        }
        &__container {
            width: 100%;           
        }
    }
}

