.section { 
    .container {
        display: flex;
        gap: 0 43px;
        padding-bottom: 50px;
    }
    background-color: #e8ebf1;
    &__container {
        padding-top: 62px;
        width: 22%;
        display: flex;
        flex-direction: column;
    }
    &__title {      
        display: flex;
        align-items: center;
        gap: 0 20px;
        text-transform: uppercase;
        padding-bottom: 18px;
        .img {
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: center;      
            position: relative;    
            &::before {
                border-radius: 100%;
                content: '';
                background-color: #2aacc8;
                position: absolute;
                width: 40px;
                height: 40px;
                z-index: -1;              
            }
        }      
        h2 {
            font-weight: 700;
        }
    }
    &__content {
        font-size: 13px;
        font-weight: 400;
        line-height: calc(20/13);
        padding-bottom: 25px;
        p {
            color: #363636;
        }
    }
    &__btn {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 0 9px;
        cursor: pointer;
        p {
            color: #2aacc8;
        }
    }
}
@media screen and (max-width: 1023.98px) {
    .section {
        .container {        
            gap: 0 30px;
        }
        &__container:nth-child(1){
            padding-top: 49px;        
            .section__title {
              padding-bottom: 26px;
                .img {
                    margin-top: 21px;
                }
            }
        }       
    }
}

@media screen and (max-width: 767.98px) {
    .section {
        padding-bottom: 40px;
        .container {
            flex-direction: column;
            padding: 0 20px;
        }
        &__container {
            width: 100%;           
        }
    }
}

