.template {
    padding-bottom: 40px;
    &__container {
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 30px;
        border: 1px solid #81e4ed;
        background-color: #e8fcfe;
        p {
            width: 61.5%;
            font-size: 16px;
            font-weight: 400;
            line-height: calc(26/16);
            color: $grayColor;
        }
    }
    .download-btn {
        align-items: center;
        border-radius: 10px;
        display: inline-flex;
        gap: 0 20px;
        padding: 18px;
        background-image: linear-gradient(to bottom,#80e3ec,#40bad1);
    }
}

@media screen and (max-width: 1023.98px) {
    .template {
        &__container {
          flex-direction: column;
          gap: 30px 0;
          p {
            width: 100%;
          }
        }
    }
}
